<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        Export
      </el-button>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="60" :class-name="getSortClass('id')">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="放下的東西" min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.thingToDrop }}</span>
        </template>
      </el-table-column>
      <el-table-column label="人生清單" min-width="180px">
        <template slot-scope="{row}">
          <div>毛線顏色: {{ row.color }}</div>
          <div v-for="(label, i) in row.labels" :key="i">
            {{ i+1 + '. ' + label }}
          </div>
        </template>
      </el-table-column>
      <el-table-column label="字的使用量" min-width="100px">
        <template slot-scope="{row}">
          <div>創: {{ row.makeCount }}</div>
          <div>行: {{ row.takeCount }}</div>
          <div>闖: {{ row.dareCount }}</div>
          <div>獨: {{ row.liveCount }}</div>
          <div>思: {{ row.thinkCount }}</div>
          <div>公: {{ row.giveCount }}</div>
          <div>育: {{ row.raiseCount }}</div>
          <div>愛: {{ row.careCount }}</div>
        </template>
      </el-table-column>
      <el-table-column label="字">
        <template slot-scope="{row}">
          <div>
            {{ row['theWord'] }}
          </div>
        </template>
      </el-table-column>
      <el-table-column label="建立者" min-width="150px">
        <template slot-scope="{row}">
          <a class="link-type" @click.prevent="goUser(row.user)">{{ row.name }}</a>
        </template>
      </el-table-column>
      <el-table-column label="建立時間" width="160px">
        <template slot-scope="scope">
          <span>{{ scope.row.createdAt | parseTime('{y}/{m}/{d} {h}:{i}:{s}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" width="110px" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <a target="_blank" :href="row.pdfUrl">
            <el-button type="primary">
              PDF
            </el-button>
          </a>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
  </div>
</template>

<script>
import { fetchPv, createArticle, updateArticle } from '@/api/article'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import axios from 'axios'

const calendarTypeOptions = [
  { key: 'make', display_name: '創' },
  { key: 'take', display_name: '行' },
  { key: 'dare', display_name: '闖' },
  { key: 'live', display_name: '獨' },
  { key: 'think', display_name: '思' },
  { key: 'give', display_name: '公' },
  { key: 'raise', display_name: '育' },
  { key: 'care', display_name: '愛' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'Records',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        '0': 'success',
        // draft: 'info',
        '1': 'danger'
      }
      return statusMap[status]
    },
    statusLabelFilter(status) {
      const statusMap = {
        '0': '上架中',
        // draft: 'info',
        '1': '已下架'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: 'make',
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'published'
      },
      dialogFormVisible: false,
      // dialogStatus: '',
      // textMap: {
      //   update: 'Edit',
      //   create: 'Create'
      // },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        title: [{ required: true, message: 'title is required', trigger: 'blur' }]
      },
      downloadLoading: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      const offset = (this.listQuery.page - 1) * this.listQuery.limit
      axios({
        methods: 'get',
        url: `https://asia-east2-young-out-247111.cloudfunctions.net/adminExperienceRecord?offset=${offset}&limit=${this.listQuery.limit}&token=${this.$store.getters.token}`
      })
        .then(response => {
          this.list = response.data.collection
          this.total = response.data.paginator[0].total_entries

          for (let i = 0; i < this.list.length; i++) {
            this.list[i].labels = this.list[i].labels.substring(2, this.list[i].labels.length - 2).split('\",\"')

            let max = 0
            for (let j = 0; j < this.calendarTypeOptions.length; j++) {
              if (this.list[i][`${this.calendarTypeOptions[j].key}Count`] > max) {
                max = this.list[i][`${this.calendarTypeOptions[j].key}Count`]
                this.list[i]['theWord'] = this.calendarTypeOptions[j].display_name
              }
            }
          }
          this.listLoading = false
        })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    // handleModifyStatus(row, status) {
    //   axios.patch(`https://asia-east2-young-out-247111.cloudfunctions.net/adminQuestions`, {
    //     token: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoieW91bmdvdXQyMDE5IiwiaWF0IjoxNTcxNzUyODQyfQ.HVTL6B51YEquPggysFHzwYp4LC07gJWb56V1e_tE1Xs',
    //     questionId: row.id,
    //     status
    //   })
    //     .then(response => {
    //       this.$message({
    //         message: '操作Success',
    //         type: 'success'
    //       })
    //       row.status = status
    //     })
    // },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          this.temp.author = 'vue-element-admin'
          createArticle(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateArticle(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v)
                this.list.splice(index, 1, this.temp)
                break
              }
            }
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row) {
      this.$notify({
        title: 'Success',
        message: 'Delete Successfully',
        type: 'success',
        duration: 2000
      })
      const index = this.list.indexOf(row)
      this.list.splice(index, 1)
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        axios({
          methods: 'get',
          url: `https://asia-east2-young-out-247111.cloudfunctions.net/adminExperienceRecord?offset=0&limit=999999999&token=${this.$store.getters.token}`
        })
          .then(response => {
            const all_questions = response.data.collection

            for (let i = 0; i < all_questions.length; i++) {
              let max = 0
              for (let j = 0; j < this.calendarTypeOptions.length; j++) {
                if (all_questions[i][`${this.calendarTypeOptions[j].key}Count`] > max) {
                  max = all_questions[i][`${this.calendarTypeOptions[j].key}Count`]
                  all_questions[i]['theWord'] = this.calendarTypeOptions[j].display_name
                }
              }
            }

            const tHeader = ['ID', 'Things to drop', 'Table', 'Lists', 'Yarn color', 'make', 'take', 'dare', 'live', 'think', 'give', 'raise', 'care', 'the word', 'Creator id', 'Creator name', 'Email', 'PDF url', 'Created at']
            const filterVal = ['id', 'thingToDrop', 'table', 'labels', 'color', 'makeCount', 'takeCount', 'dareCount', 'liveCount', 'thinkCount', 'giveCount', 'raiseCount', 'careCount', 'theWord', 'user', 'name', 'email', 'pdfUrl', 'createdAt']
            const data = this.formatJson(filterVal, all_questions)
            excel.export_json_to_excel({
              header: tHeader,
              data,
              filename: 'All records'
            })
            this.downloadLoading = false
          })
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}`
        ? 'ascending'
        : sort === `-${key}`
          ? 'descending'
          : ''
    },
    goUser(id) {
      this.$router.push(`/users/${id}`)
    }
  }
}
</script>
