<template>
  <div class="app-container">
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="users"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="60" :class-name="getSortClass('id')">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="姓名" min-width="120px">
        <template slot-scope="{row}">
          {{ row.name }}
        </template>
      </el-table-column>
      <el-table-column label="email" min-width="190px">
        <template slot-scope="{row}">
          {{ row.email }}
        </template>
      </el-table-column>
      <el-table-column label="提問數" align="center" width="80">
        <template slot-scope="{row}">
          <span v-if="row.questionCount">{{ row.questionCount }}</span>
          <span v-else>0</span>
        </template>
      </el-table-column>
      <el-table-column label="回答數" align="center" width="80">
        <template slot-scope="{row}">
          <span v-if="row.answerCount">{{ row.answerCount }}</span>
          <span v-else>0</span>
        </template>
      </el-table-column>
      <el-table-column label="註冊時間" width="160px">
        <template slot-scope="scope">
          <span>{{ scope.row.createdAt | parseTime('{y}/{m}/{d} {h}:{i}:{s}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="狀態" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusFilter">
            {{ row.status | statusLabelFilter }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" width="110px" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <el-button v-if="row.status!='0'" size="mini" type="primary" style="width: 70px;" @click="handleModifyUserStatus(row,'0')">
            解鎖
          </el-button>
          <el-button v-if="row.status!='1'" size="mini" type="danger" @click="handleModifyUserStatus(row,'1')">
            封鎖
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <h4>問題 (共 {{ questions ? questions.length : '' }} 筆)</h4>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="questions"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="60" :class-name="getSortClass('id')">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="字" width="60" align="center">
        <template slot-scope="{row}">
          <span>{{ row.wId | typeFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column label="問題內容" min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.content }}</span>
        </template>
      </el-table-column>
      <el-table-column label="建立時間" width="160px">
        <template slot-scope="scope">
          <span>{{ scope.row.createdAt | parseTime('{y}/{m}/{d} {h}:{i}:{s}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="狀態" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusFilter">
            {{ row.status | statusLabelFilter }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" width="110px" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <el-button v-if="row.status!='0'" size="mini" type="primary" style="width: 70px;" @click="handleModifyQuestionStatus(row,'0')">
            重新上架
          </el-button>
          <el-button v-if="row.status!='1'" size="mini" type="danger" @click="handleModifyQuestionStatus(row,'1')">
            下架
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <h4>回答 (共 {{ answers ? answers.length : '' }} 筆)</h4>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="answers"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="60" :class-name="getSortClass('id')">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="回答內容" min-width="150px">
        <template slot-scope="{row}">
          {{ row.content }}
        </template>
      </el-table-column>
      <el-table-column label="建立時間" width="160px">
        <template slot-scope="scope">
          <span>{{ scope.row.createdAt | parseTime('{y}/{m}/{d} {h}:{i}:{s}') }}</span>
        </template>
      </el-table-column>
      <!--<el-table-column label="字" width="60" align="center">-->
      <!--<template slot-scope="{row}">-->
      <!--<span>{{ row.wId | typeFilter }}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column label="所屬問題" min-width="150px">
        <template slot-scope="{row}">
          <a class="link-type" @click.prevent="goQuestion(row.questionId)">{{ row.questionContent }}</a>
        </template>
      </el-table-column>
      <el-table-column label="狀態" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusFilter">
            {{ row.status | statusLabelFilter }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" width="110px" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <el-button v-if="row.status!='0'" size="mini" type="primary" style="width: 70px;" @click="handleModifyAnswerStatus(row,'0')">
            重新上架
          </el-button>
          <el-button v-if="row.status!='1'" size="mini" type="danger" @click="handleModifyAnswerStatus(row,'1')">
            下架
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <h4>體驗紀錄 (共 {{ experience_records ? experience_records.length : '' }} 筆)</h4>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="experience_records"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="60" :class-name="getSortClass('id')">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <!--<el-table-column label="字" width="60" align="center">-->
      <!--<template slot-scope="{row}">-->
      <!--<span>{{ row.wId | typeFilter }}</span>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column label="放下的東西" min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.thingToDrop }}</span>
        </template>
      </el-table-column>
      <el-table-column label="人生清單" min-width="180px">
        <template slot-scope="{row}">
          <div>毛線顏色: {{ row.color }}</div>
          <div v-for="(label, i) in row.labels" :key="i">
            {{ i+1 + '. ' + label }}
          </div>
        </template>
      </el-table-column>
      <el-table-column label="字的使用量" min-width="100px">
        <template slot-scope="{row}">
          <div>創: {{ row.makeCount }}</div>
          <div>行: {{ row.takeCount }}</div>
          <div>闖: {{ row.dareCount }}</div>
          <div>獨: {{ row.liveCount }}</div>
          <div>思: {{ row.thinkCount }}</div>
          <div>公: {{ row.giveCount }}</div>
          <div>育: {{ row.raiseCount }}</div>
          <div>愛: {{ row.careCount }}</div>
        </template>
      </el-table-column>
      <el-table-column label="建立時間" width="160px">
        <template slot-scope="scope">
          <span>{{ scope.row.createdAt | parseTime('{y}/{m}/{d} {h}:{i}:{s}') }}</span>
        </template>
      </el-table-column>
      <!--<el-table-column label="人生清單" class-name="status-col" width="100">-->
      <!--<template slot-scope="{row}">-->
      <!--<el-button type="primary" @click="handleUpdate(row)">-->
      <!--開啟-->
      <!--</el-button>-->
      <!--<el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">-->
      <!--<el-table :data="pvData" border fit highlight-current-row style="width: 100%">-->
      <!--<el-table-column prop="key" label="Channel" />-->
      <!--<el-table-column prop="pv" label="Pv" />-->
      <!--</el-table>-->
      <!--<span slot="footer" class="dialog-footer">-->
      <!--<el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>-->
      <!--</span>-->
      <!--</el-dialog>-->
      <!--</template>-->
      <!--</el-table-column>-->
      <el-table-column label="操作" align="center" width="110px" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <a target="_blank" :href="row.pdfUrl">
            <el-button type="primary">
              PDF
            </el-button>
          </a>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { fetchPv, createArticle, updateArticle } from '@/api/article'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import axios from 'axios'
import elDragDialog from '@/directive/el-drag-dialog'

const calendarTypeOptions = [
  { key: 'make', display_name: '創' },
  { key: 'take', display_name: '行' },
  { key: 'dare', display_name: '闖' },
  { key: 'live', display_name: '獨' },
  { key: 'think', display_name: '思' },
  { key: 'give', display_name: '公' },
  { key: 'raise', display_name: '育' },
  { key: 'care', display_name: '愛' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'User',
  // components: { Pagination },
  directives: { waves, elDragDialog },
  filters: {
    statusFilter(status) {
      const statusMap = {
        '0': 'success',
        // draft: 'info',
        '1': 'danger'
      }
      return statusMap[status]
    },
    statusLabelFilter(status) {
      const statusMap = {
        '0': '上架中',
        // draft: 'info',
        '1': '已下架'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      dialogTableVisible: false,
      questionId: undefined,
      users: [],
      questions: [],
      answers: [],
      experience_records: [],
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: 'make',
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        title: [{ required: true, message: 'title is required', trigger: 'blur' }]
      },
      downloadLoading: false
    }
  },
  created() {
    this.questionId = this.$route.params && this.$route.params.id
    this.getList()

    const route = Object.assign({}, Object.assign({}, this.$route), { title: `使用者細節 ${this.questionId}` })
    this.$store.dispatch('tagsView/updateVisitedView', route)
  },
  methods: {
    getList() {
      this.listLoading = true
      axios({
        methods: 'get',
        url: `https://asia-east2-young-out-247111.cloudfunctions.net/adminUserDetail?userId=${this.questionId}&token=${this.$store.getters.token}`
      })
        .then(response => {
          this.users = [{ ...response.data.user }]
          this.questions = response.data.question
          this.answers = response.data.answer
          this.experience_records = response.data.experience_record
          for (let i = 0; i < this.experience_records.length; i++) {
            this.experience_records[i].labels = this.experience_records[i].labels.substring(2, this.experience_records[i].labels.length - 2).split('\",\"')
          }
          this.listLoading = false
        })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyQuestionStatus(row, status) {
      axios.patch(`https://asia-east2-young-out-247111.cloudfunctions.net/adminQuestions`, {
        token: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoieW91bmdvdXQyMDE5IiwiaWF0IjoxNTcxNzUyODQyfQ.HVTL6B51YEquPggysFHzwYp4LC07gJWb56V1e_tE1Xs',
        questionId: row.id,
        status
      })
        .then(response => {
          this.$message({
            message: '操作Success',
            type: 'success'
          })
          row.status = status
        })
    },
    handleModifyAnswerStatus(row, status) {
      axios.patch(`https://asia-east2-young-out-247111.cloudfunctions.net/adminAnswers`, {
        token: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoieW91bmdvdXQyMDE5IiwiaWF0IjoxNTcxNzUyODQyfQ.HVTL6B51YEquPggysFHzwYp4LC07gJWb56V1e_tE1Xs',
        answerId: row.id,
        status
      })
        .then(response => {
          this.$message({
            message: '操作Success',
            type: 'success'
          })
          row.status = status
        })
    },
    handleModifyUserStatus(row, status) {
      axios.patch(`https://asia-east2-young-out-247111.cloudfunctions.net/adminUser`, {
        token: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoieW91bmdvdXQyMDE5IiwiaWF0IjoxNTcxNzUyODQyfQ.HVTL6B51YEquPggysFHzwYp4LC07gJWb56V1e_tE1Xs',
        userId: row.id,
        status
      })
        .then(response => {
          this.$message({
            message: '操作Success',
            type: 'success'
          })
          row.status = status
        })
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          this.temp.author = 'vue-element-admin'
          createArticle(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateArticle(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v)
                this.list.splice(index, 1, this.temp)
                break
              }
            }
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row) {
      this.$notify({
        title: 'Success',
        message: 'Delete Successfully',
        type: 'success',
        duration: 2000
      })
      const index = this.list.indexOf(row)
      this.list.splice(index, 1)
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
        const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
        const data = this.formatJson(filterVal, this.list)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}`
        ? 'ascending'
        : sort === `-${key}`
          ? 'descending'
          : ''
    },
    // handleLink() {
    //   this.$router.push({
    //     path: '/redirect'
    //   })
    // }
    goQuestion(id) {
      this.$router.push(`/questions/${id}`)
    }
    // handleDrag() {
    //   this.$refs.select.blur()
    // }
  }
}
</script>
